/* Pagina inicial dos devs */

#nav-item-divisor {
    width: 1px;
    color: #e6cc93;
    }
    
.nav-link {
    color: #e6cc93;
}

.nav-item {
    color: #e6cc93;
}

#Botoes-Menu{
    color: #e6cc93;
    text-decoration: none;
}